<div class="container">
  <div class="row">
    <div class="offset-1 col-10 d-flex justify-content-center">
      <h2 class="alert alert-success text-center mt-4 w-25">{{ title }}</h2>
    </div>

    <button class="btn col-1" *ngIf="getActiveModule() === 'landingPage'" (click)="logout()">
      <fa-icon class="float-right" [icon]="faArrowCircleRight"></fa-icon>
    </button>
  </div>

  <app-alert
    *ngFor="let alert of alerts"
    [status]="alert.status"
    [message]="alert.message"
  ></app-alert>

  <app-login
    *ngIf="getActiveModule() === 'login'"
    (showRegister)="setActiveModule('register')"
    (showForgotPassword)="setActiveModule('forgotPassword')"
    class="offset-2 col-8 card p-4"
  ></app-login>

  <app-register
    *ngIf="getActiveModule() === 'register'"
    (showLogin)="setActiveModule('login')"
  ></app-register>

  <app-landing-page
    *ngIf="getActiveModule() === 'landingPage'"
  ></app-landing-page>
</div>
