<div class="container">
  <div class="d-flex justify-content-center">
    <h2 class="alert alert-success text-center mt-4 w-25">{{ title }}</h2>
  </div>

  <app-alert
    *ngFor="let alert of alerts"
    [status]="alert.status"
    [message]="alert.message"
  ></app-alert>

  <div *ngIf="!isLoggedIn(); then thenBlock; else elseBlock" class="row"></div>
  <ng-template #thenBlock
    ><app-login class="offset-2 col-8 card p-4"></app-login
  ></ng-template>
  <ng-template #elseBlock><app-landing-page></app-landing-page></ng-template>
</div>
