<form class="needs-validation">
  <div class="mb-3">
    <label for="loginEmail" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="loginEmail"
      name="loginEmail"
      placeholder="Email"
      email="true"
      [(ngModel)]="loginForm.email.value"
      (input)="loginEmailChange()"
    />
    <div *ngIf="loginForm.email.error" class="invalid-feedback d-block">
      {{ loginForm.email.error }}
    </div>
  </div>
  <div class="mb-3">
    <label for="loginPassword" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="loginPassword"
      name="loginPassword"
      placeholder="Password"
      [(ngModel)]="loginForm.password.value"
      (input)="loginPasswordChange()"
    />
    <div *ngIf="loginForm.password.error" class="invalid-feedback d-block">
      {{ loginForm.password.error }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-6">
      <a href="#" class="">Forgot Password</a>
      <br class="" />
      <a href="#" class="">Register</a>
    </div>

    <div class="offset-3 col-3 d-flex justify-content-end">
      <button
        type="submit"
        class="btn btn-success float-right w-100"
        (click)="emailLogin()"
      >
        Login
      </button>
    </div>
  </div>
</form>
