<form class="needs-validation">
  <div class="mb-3">
    <label for="loginEmail" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="loginEmail"
      name="loginEmail"
      placeholder="Email"
      email="true"
      [(ngModel)]="loginForm.email.value"
      (input) = "loginForm.email.error=''"
    />
    <div
      *ngIf="loginForm.email.error"
      ngClass="invalid-feedback {{ loginForm.email.error ? 'd-block' : '' }}"
    >
      {{ loginForm.email.error }}
    </div>
  </div>
  <div class="mb-3">
    <label for="loginPassword" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="loginPassword"
      name="loginPassword"
      placeholder="Password"
      [(ngModel)]="loginForm.password.value"
      (input) = "loginForm.password.error=''"
    />
  </div>
  <div
    *ngIf="loginForm.password.error"
    ngClass="invalid-feedback {{ loginForm.password.error ? 'd-block' : '' }}"
  >
    {{ loginForm.password.error }}
  </div>
  <button type="submit" class="btn btn-primary" (click)="emailLogin()">
    Submit
  </button>
</form>
